@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

header{
    margin:0;
    background-color:none;
    position: fixed;z-index: 9999;left: 0; top:1%;width: 100%;height: 7%;display: flex; flex-direction: row; justify-content: space-between;
    align-items: center;  justify-content: space-between;
}
header .logo{
    height: 100%; margin-left:2%;margin-top:3%;
}
header .logo > a {height: 100%; display:flex; align-items: center;  justify-content:center;}
header .logo > a > img {width: 70px;}

.sense-nav {height: 100%; margin-right: 2%; text-align: right; position: relative;}
.sense-nav ul{display: flex; flex-direction: column; justify-content: center;}
.sense-nav ul li { list-style: none;  margin-bottom:7%;  cursor: pointer;}
.sense-nav ul li a{font-family: 'Montserrat', sans-serif; cursor: pointer;font-weight: 700;font-size: 1.5rem; color:rgb(255, 255, 255);text-decoration: none;}
.sense-nav ul li a.active{font-family: 'Montserrat', sans-serif; cursor: pointer;font-weight: 700;font-size: 1.5rem; color:#EB2814;text-decoration: none;}

footer{
    position:relative; width: 100%; height: 20%; bottom:0; z-index: 1500; display: flex; justify-content: space-between;
}
footer ul{
    position: fixed; bottom:5%; left: 1%; width: 50px;;
}
footer ul li{
    list-style: none;border: 2px solid #FF961E; background: none;
    width: 50px; height: 50px; border-radius: 50%;margin-top:30%;
    display: flex;justify-content: center;align-items: center;cursor: pointer;
 }
 footer ul a {
    text-decoration: none; display: flex; justify-content: center; align-items: center; 
 }
 footer ul a p  {
    font-size: 1.5em; font-weight: 800;color: #FF961E; text-decoration: none;
 }
 footer ul a img{
    width: 30px;
 }
 footer > .footer-sign{position: fixed; bottom:5%; right: 3%; text-align: right; font-family: 'Red Hat Display', sans-serif;} 
 footer > .footer-sign p:first-of-type{font-size: 1.2rem;font-weight: 800;color: #FF961E;letter-spacing: 1px;}
 footer > .footer-sign p:last-of-type{font-size: 0.8rem;font-weight: 100;color: #FF961E;letter-spacing: 1px;}
