@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{font-size: 16px;margin: 0; padding: 0;}
body, html{position: relative;width: 100vw;height: 100vh;position: fixed;}
header{position: fixed;width: 100vw; z-index: 3333;display: flex; flex-direction: row;justify-content: space-between;}
header > .logo{margin-top: 2%;margin-left: 2%; cursor: pointer;}
header > .sense-nav{margin-top: 2%;margin-right: 3%;}
header > .sense-nav > ul{font-family: 'Red Hat Display', sans-serif;font-size: 1.450em;font-weight: 800;color: #FF961E; line-height: 2em; text-align: right;}
header > .sense-nav > ul > li{list-style: none;cursor: pointer;color: #FF961E; text-decoration: none;}
header > .sense-nav > ul > li:hover{letter-spacing: 2px; transition: 0.3s ease-in-out;}
/* 백그라운드 컬러 */
.background_mask{width: 100vw;height: 100vh;background-color: #1E290C;position: fixed;}
.background_line{width: 2px; height: 70%;background-color:#FF961E;position: fixed; top:0; left: 0;}
article.main-area{width: 100vw;height: 100vh;visibility:visible;}
/*  메인 텍스트  */
article.main-area .root {display: flex;width: 100%;height: 100%;z-index: 50;position: fixed;top:15%;left:15%;pointer-events: none;}
article.main-area .root > .headline {
    font-family: 'Red Hat Display', sans-serif;font-weight: 800;font-size: 10em;letter-spacing: -5px;text-align: left;
    background: url("../img/grad/grad4.gif");background-size: cover;
    -webkit-text-fill-color: transparent;-webkit-background-clip: text;pointer-events: none; transition: ease-in 0.5s;
}
/* 배경에 둥둥 떠다니는 악기 */
article.main-area > .musical-img{
    display: flex;flex-direction: row;justify-content: center;align-items: center;
    width: 100%;height: 100vh;z-index: 1;pointer-events: none;
    position: fixed;top:33%; left:32%;animation:dung 3s infinite linear
}
article.main-area > .musical-img > img{position: relative;  opacity: 0.5;}
article.main-area > .musical-img > img:first-child{height: 25%; top:-35%; left:10%; transform: rotate(45deg);transition: ease-in 0.5s;}
article.main-area > .musical-img > img:nth-child(2){height: 20%; top:-30%; left:25%; transform: rotate(-40deg);transition: ease-in 0.5s;}
article.main-area > .musical-img > img:nth-child(3){height: 30%;top:-15%; left:40%; transform: rotate(40deg);transition: ease-in 0.5s;}
article.main-area > .musical-img > img:nth-child(4){height: 25%;top:5%; left:15%; transform: rotate(10deg); transition: ease-in 0.5s;}
article.main-area > .musical-img > img:nth-child(5){height: 25%;top:25%; left:25%; transform: rotate(10deg); transition: ease-in 0.5s;}
@keyframes dung {
    0% {
        transform:translateY(0px);   
    }
    50% {
        transform:translateY(10px); 
    }
    100% {
        transform:translateY(0px);
    }
}

/*  메뉴 버튼 클릭 시 트랜지션 되는 박스 */
article.main-area .transitionbox{width: 0vw;height: 100vh; background-color: whitesmoke;position: fixed; right:-10%;transition: 0.3s; opacity: 1;}
article.main-area .transitionbox.active{background-color: white;position: fixed; opacity: 1;transition: 0.3s}
article.main-area .transitionbox.active1{background-color: #FF971E;position: fixed; opacity: 1;transition: 0.3s}
article.main-area .transitionbox.active2{background-color: #1673ff;position: fixed; opacity: 1;transition: 0.5s}
article.main-area .transitionbox.active3{background-color: none;position: fixed; opacity: 1;transition: 0.3s; transform-origin: top right;}

/* 백그라운드에서 빙글빙글 돌아가는 원 */
article.main-area .circle{
    position: fixed;width: 80vw; height: 80vw;top:-20%; margin-left: -15%;
    background: linear-gradient(-110deg, #131b08, #23300e);border-radius: 49%;animation: rotate 5s infinite linear;
    display: flex; justify-content: center; align-items: center;pointer-events: none;
}
article.main-area > .circle >.circlework{
    position: fixed;width: 80vw; height: 80vw;
    border: 2px solid white;opacity: 0.2;
    border-radius: 49%; background-color: none;
    animation: rotate 35s infinite linear;
}
article.main-area > .circle >.circlework1{
    position: fixed;width: 90vw; height: 90vw;
    border: 1px solid white;opacity: 0.2;
    border-radius: 49%; background-color: none;
    animation: rotate 25s infinite linear;
}
article.main-area > .circle >.circlework2{
    position: fixed;width: 70vw; height: 70vw;
    border: 2px solid white;opacity: 0.2;
    border-radius: 49%; background-color: none;
    animation: rotate 50s infinite linear;
}
article.main-area > .circle >.circlework3{
    position: fixed;width: 60vw; height: 60vw;
    border: 1px solid white;opacity: 0.2;
    border-radius: 49%; background-color: none;
    animation: rotate 60s infinite linear;
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}
article.main-area .background_line{width: 1px; height: 40%;background-color:  #FF961E;position: fixed; top:20%; margin-left: 4%; z-index: 100;}

/* footer */
footer{display: flex; flex-direction: column; position: relative; z-index: 500;}
footer > ul{position: fixed; bottom:5%; left: 3%; width: 50px;} 
footer > ul > li{
    list-style: none;border: 2px solid #FF961E; background: none;
    width: 50px; height: 50px; border-radius: 50%;margin-bottom:30%;
    display: flex;justify-content: center;align-items: center;cursor: pointer;
} 
footer > ul > li> a {text-decoration: none; display: flex; justify-content: center; align-items: center;} 
footer > ul > li> a > p{font-size: 1.5em; font-weight: 800;color: #FF961E; text-decoration: none; margin-top:5px;} 
footer> ul > li> a > img{font-size: 1.5em; font-weight: 800;color: #FF961E; width: 25px;} 
footer > .footer-sign{position: fixed; bottom:5%; right: 3%;} 
footer > .footer-sign > #ft-sign1{font-family: 'Red Hat Display', sans-serif;font-size: 1.2em;font-weight: 800;color: #FF961E; line-height: 2em; text-align: right;} 
footer> .footer-sign > #ft-sign2{font-family: 'Red Hat Display', sans-serif;font-size: 0.625em;font-weight: 100;color: #FF961E; line-height: 2em; text-align: right;} 


