html,
body{
    width: 100%; height: 100%;
    margin:0; padding:0;
    background: rgb(140, 13, 13); 
    color:white; overflow: hidden; 
    
}
.wrap{
    width: 100%; height: 100%;position: relative;background:#1E290C;overflow: hidden; 
}
section{
    width: 100%; height: 100%; position: absolute;
     display: none;z-index: 1500;
}
section.active{
    width: 100%; height: 100%; position: absolute;
     display: block;z-index: 1500;
}
.transitionbox{
    position: absolute; width: 0%;height: 0%; background: white; z-index: 1; bottom:20%; right:20%;
}
.main-container {
    width: 100%; height:100%;position: relative;
}
.main-container .bg-section{width: 70%;height: 100%;position: absolute; pointer-events: none; top:0;}
.main-container .bg-section .bg-main-title{width: 100%; height:100%;position: relative;}
.main-container .bg-section h1{
    font-family: 'Red Hat Display', sans-serif;font-weight: 800;font-size: 8rem;letter-spacing: -5px;text-align: left;
    background: url("../img/grad/grad4.gif");background-size: cover; 
    -webkit-text-fill-color: transparent;-webkit-background-clip: text;pointer-events: none; transition: ease-in 0.5s;
    position: absolute; top:50%; left:60%; transform: translate(-50%, -50%); 
    width: 80%;z-index: 2000;margin:0;
}

.bg-musical-images{position: relative;z-index: 1500; width: 80%; height: 100%; left:50%; transform: translateX(-50%); margin: 0; animation:dung 3s infinite linear;}
.bg-musical-images > img{position: absolute; opacity: 0.5;}
.bg-musical-images > img:first-of-type{height: 25%; top:5%; left:40%; transform: rotate(45deg)}
.bg-musical-images > img:nth-of-type(2){height: 25%; top:10%; right:25%;transform: rotate(-40deg)}
.bg-musical-images > img:nth-of-type(3){height: 30%; top:30%; right:5%; transform: rotate(40deg)}
.bg-musical-images > img:nth-of-type(4){height: 25%; top:45%; right:40%;transform: rotate(10deg)}
.bg-musical-images > img:last-of-type{height: 25%; bottom:10%; right:5%;transform: rotate(10deg)}

@keyframes dung {
    0% {
        transform:translate(-50%, 0px);   
    }
    50% {
        transform:translate(-50%, 10px);   
    }
    100% {
        transform:translate(-50%, 0px);   
    }
}
.circle-container{width: 100%; height: 100%; position: absolute; top:0; }
.circle-area{width: 100%;height: 100%; position: relative;}
.circlework:first-of-type{
    position: fixed;width: 80vw; height: 80vw; left:-20%;top:-20%;
    background: linear-gradient(-110deg, #131b08, #23300e); border-radius: 49%;animation: rotate 20s infinite linear;
}
.circlework:nth-of-type(2){
    position: fixed;width: 80vw; height: 80vw; border: 2px solid white; left:-20%;top:-20%; opacity: 0.3;
    background: none; border-radius: 49%;animation: rotate 5s infinite linear;
}
.circlework:nth-of-type(3){
    position: fixed;width: 90vw; height: 90vw; border: 2px solid white; left:-25%;top:-25%; opacity: 0.3;
    background: none; border-radius: 49%;animation: rotate 15s infinite linear;
}
.circlework:nth-of-type(4){
    position: fixed;width: 70vw; height: 70vw; border: 2px solid white; left:-15%;top:-15%; opacity: 0.3;
    background: none; border-radius: 49%;animation: rotate 10s infinite linear;
}
.circlework:last-of-type{
    position: fixed;width: 60vw; height: 60vw; border: 2px solid white; left:-10%;top:-5%; opacity: 0.3;
    background: none; border-radius: 49%;animation: rotate 15s infinite linear;
}


@keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}