@media screen and (max-width: 1024px){
    /* 메인 텍스트 = 제목텍스트  */
    article.main-area .root > .headline {
        font-family: 'Red Hat Display', sans-serif;font-weight: 800;font-size: 8em;letter-spacing: -5px;text-align: left;
        background: url("../img/grad/grad4.gif");background-size: cover;
        -webkit-text-fill-color: transparent;-webkit-background-clip: text;pointer-events: none;
        transition: ease-in 0.5s;
    }

        /* 배경에 둥둥 떠다니는 악기 */
    article.main-area > .musical-img{
        display: flex; flex-direction: row;justify-content: center;align-items: center;
        width: 100%;height: 100vh;z-index: 1;pointer-events: none;
        position: fixed;top:33%; left:32%;animation:dung 3s infinite linear
    }
    article.main-area > .musical-img > img{position: relative;  opacity: 0.5;}
    article.main-area > .musical-img > img:first-child{height: 25%; top:-40%; left:15%; transform: rotate(45deg);transition: ease-in 0.5s;}
    article.main-area > .musical-img > img:nth-child(2){height: 20%; top:-30%; left:25%; transform: rotate(-40deg);transition: ease-in 0.5s;}
    article.main-area > .musical-img > img:nth-child(3){height: 30%;top:-5%; left:30%; transform: rotate(40deg);transition: ease-in 0.5s;}
    article.main-area > .musical-img > img:nth-child(4){height: 30%;top:15%; left:-40%; transform: rotate(140deg); transition: ease-in 0.5s;}
    article.main-area > .musical-img > img:nth-child(5){height: 25%;top:25%; left:0%; transform: rotate(10deg); transition: ease-in 0.5s;}
    @keyframes dung {
        0% {
            transform:translateY(0px);   
        }
        50% {
            transform:translateY(10px); 
        }
        100% {
            transform:translateY(0px);
        }
    }
    /*  메뉴 버튼 클릭 시 트랜지션 되는 박스 */
    article.main-area .transitionbox{width: 0vw;height: 100vh; background-color: whitesmoke;position: fixed; right:-10%;transition: 0.3s; opacity: 1;}
    article.main-area .transitionbox.active{background-color: white;position: fixed; opacity: 1;transition: 0.3s; display:none;}


    /* 멤버 이미지와 텍스트 */
    .day6-area .member-intro{width: 100vw; height: 100vh;display: flex; position: fixed; margin-top:12%; margin-left: 30%; visibility: hidden;}
    .day6-area .member-intro .member-img {position: absolute; z-index: 200; top: 10%;left: 0%;}
    .day6-area .member-intro .member-img >img{width:70%;transition: 0.5s ease-in-out; cursor: pointer;}
    .day6-area .member-intro .member-img >img:hover{ transform: rotate(-10deg); transition: 0.5s ease-in-out}

    .day6-area .shape .box{border:2px solid #EB2814; width: 30%; height: 40%; position: absolute; top:30%; left: 35%;}
    /* 멤버 이미지 뒤에 떠 있는 악기 */
    .day6-area .member-intro .member-instrument{position: absolute; top:0%; left: 20%;transition: 0.7s;display: flex; align-items: center; opacity: 0.5;}
    .day6-area .member-intro #dowoon {position: absolute; top:30%; left: 20%;transition: 0.7s;display: flex; align-items: center; opacity: 0.5;}
    /* 멤버를 호버 했을 때...css */
    .day6-area .member-intro .member-hover{position: absolute; top:10%; left: 0%;transition: 0.7s; transform: rotate(0deg)}
    .day6-area .member-intro .member-hover.active{position: absolute;top:0; left: 21%; transform: rotate(20deg);transition: 1s;z-index: 100;}

    /* 멤버 정보 텍스트 */
    .day6-area .member-intro .member-txt {position: absolute;margin-left: 35%; margin-top:20%; z-index: 200;font-family: 'Red Hat Display', sans-serif;text-transform:uppercase;}
    .day6-area .member-intro .member-txt > dl{letter-spacing: 2px; }
}